* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  max-width: 592px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

h1 {
  font-weight: normal;
  font-family: 'Inter', sans-serif;
}

img {
  width: 348px;
  height: 223px;
}

footer {
  border-top: #ECEFF2 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textoBoasVindas {
  color: #7D7987; 
}

.destaque {
  color: #FF9900;
}

.negrito {
  font-weight: bold;
}

